/*This is the CSS document, the thing that controls all the style of the website*/

/*This is the background of the site*/
body {
  background: black;
}


/*This is the font used for the site*/
body {
  font-family: 'Courier New', monospace, Verdana;
}

/*This is the code for the cool typing effect for the title*/
.typewriter h1 {
    font-family: 'Courier New';
    color: white;
    letter-spacing: .17em;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: .17em solid pink;
    animation: typing 3.5s steps(30, end), blinking-cursor .5s step-end infinite;
    text-align: center;
}
  
  @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 100%
    }
  }
  
  @keyframes blinking-cursor {
    from,
    to {
      border-color: transparent
    }
    50% {
      border-color: black;
    }
}

/*This is the color for the text*/
h3 {
  color: white;
}

p1 {
  color: white;
}

a {
  color: white;
}

h2 {
  color: white;
}
